.welcome__button{
    margin-top: 48px;
    border: 2px solid #E06733;
    border-radius: 10px;
    padding: 10px 25px;
    cursor: pointer;
    background: none;
    transition: all 0.7s ease;
    @include font($size:1.6rem, $height:2rem);
    text-transform: uppercase;

}

.contact-button{
    width: 162px;
    font-family: 'Inika', serif;
    transition: all 0.7s ease;
    border: 1px solid $color-active;
    display: inline-block;
    margin-bottom: 35px;
    cursor: pointer;
    background: none;
    color: $color-active;
    padding: 11px 0;
    text-align: center;
    @include font($size:2rem, $height:2.6rem,$weight:700);
    padding-right: -3px;
    border-radius: 5px;
}
.price-block-btn{
    border-radius: 100%;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color: none;
}
button:hover{
        background: #E06733;
        color: #FFFFFF;
    }


@media screen and (max-width:1000px) {
    .welcome__button{
        margin-top: 35px;
    }
    .contact-button{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:500px) {
.welcome__button{
    margin-top: 26px;
    @include font($size:1rem, $height:2rem);
    padding: 5px 16px;
}
.contact-button{
    width: 121px;
    @include font($size:1.5rem, $height:2rem,$weight:700);
    padding: 6px 0;
    margin-left: auto;
    margin-right: auto;
}
}